extern/build
extern/lib
extern/lib64
extern/share
extern/include
extern/mongo-c-driver/.*
CMakeFiles/
cmake_install.cmake
HelProp
IOTest
ParticleTest
Makefile

*.out
*.png
*.ipynb
*.txt
*.bson
*.csv
*.dat
*.gz
*.log
*.json
*spec
*mat